/* здесь используйте глобальные переменные */
/* здесь используйте глобальные переменные */

// Цвета
$color-night-rider: #333333;
$color-white: #ffffff;
$color-slate-blue: #7859CF;
$color-magnolia: #F0EBFF;
$color-bridal-heath: #F3EBE1;
$color-silver: #BDBDBD;
$color-medium-purple: #9070EC;
$color-royal-purple: #593CAC;
$color-lavender: #EAE6FC;
$color-solitude: #E5E6E8;
$color-white-smoke: #F8F8F8;
$color-gainsboro: #E2E2E2;

// Размеры вьюпортов
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Шрифты
$primary-font: "Montserrat", "Arial", sans-serif;

// Слои
//Слои
$z-index-first: 1;
$z-index-second: 2;
$z-index-third: 3;
$z-index-fourth: 4;

