.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  text-decoration: none;
  color: $color-white;
  border: none;
  border-radius: 4px;
  background-color: $color-slate-blue;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  // transition: background-color 0.3s, opacity 0.3s;

  &:hover {
    background-color: $color-limeade;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--dim {
    color: $color-charcoal;
    background-color: $color-white-smoke;

    &:hover {
      background-color: $color-whisper;
    }

    &:active {
      color: $color-charcoal;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.3;
  }
}
