.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  text-decoration: none;
  color: $color-white;
  border: none;
  border-radius: 4px;
  background-color: $color-slate-blue;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  // transition: background-color 0.3s, opacity 0.3s;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

    }


