.form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
  }
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.form__legend {
  font-weight: 600;
  margin-bottom: 20px;

  .form__fieldset:has(.range) & {
    margin-bottom: 29px;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 137px;
  }
}

.form__range {
  margin-bottom: 20px;
}

.form__wrapper-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
}

.form__inputs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__list-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__buttons-wrap {
  @media (min-width: $tablet-width) {
    justify-self: center;
    display: flex;
    gap: 20px;
    grid-column: 1 / -1;
  }
}
