.main-nav__burger {
    position: relative;
    width: 33px;
    height: 30px;
    margin: 0;
    padding: 4px 0 4px 3px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }

    .main-header--nojs & {
      display: none;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  .main-nav__burger-line {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: block;
    width: 24px;
    height: 2px;
    transition:
      transform 0.3s ease,
      opacity 0.2s;

    &--top {
      transform: translateY(calc(-50% - 8px));

      .main-nav--is-opened & {
        transform: translateY(-50%) rotate(45deg);
      }
    }

    &--middle {
      .main-nav--is-opened & {
        opacity: 0;
      }
    }

    &--bottom {
      transform: translateY(calc(-50% + 8px));

      .main-nav--is-opened & {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }

