
// .main-header {

// }

.main-header--nojs .nav-list {
  opacity: 1;
  visibility: visible;
}

.main-header--menu-closed .main-header__nav-list {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.main-header--menu-closed .main-header__close-icon  {
display: none;
}

.main-header__content {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__nav {
  display: flex;
}

.main-header__user-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.main-header__user-item {
  display: block;
}

.main-header__user-link{
  display: block;
  padding: 22px;
  transition: background-color 0.5s, color 0.3s;

  &:hover {
    color: $color-slate-blue;
  }

  &:focus {
    color: $color-slate-blue;
  }

  &:active {
    color: $color-slate-blue;
    background-color: $color-magnolia;
  }
}

.main-header__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    padding: 22px;
    padding-right: 0;
    cursor: pointer;
    background-color: unset;
    color: inherit;
}

.main-header__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    visibility: visible;
    opacity: 1;
    flex-flow: row wrap;
  }
   }


.main-header__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 font-size: 12px;
 font-weight: 500;
 line-height: 1.33;
 letter-spacing: 0.24px;
 text-transform: uppercase;

  .nav-list--user & {
      color: $color-night-rider;
  }
}

.main-header__nav-link {
  display: block;
  padding: 22px 20px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  transition: background-color 0.5s, color 0.3s;
  border-bottom: 1px solid $color-magnolia;

  &:hover {
    color: $color-slate-blue;
  }

  &:focus {
    color: $color-slate-blue;
  }

  &:active {
    color: $color-slate-blue;
    background-color: $color-magnolia;
  }

  .main-header__user-menu & {
    padding: 22px;
  }

  &--current {
    border-bottom: 2px solid $color-slate-blue;
  }

  @media(min-width: $tablet-width) {
    width: unset;
    border-bottom: unset;
    &--current {
      border-bottom: 2px solid $color-slate-blue;
    }
  }
}
