.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;

  &--user {
    flex-direction: row;
    gap: 20px;
    visibility: visible;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    visibility: visible;
    opacity: 1;
    flex-flow: row wrap;
  }

  @media (min-width: $desktop-width) {
    // background-color: transparent;
  }
}

// .nav-list__item {
//   display: block;
//   width: 100%;

//   .main-header--nojs & {
//     position: relative;
//   }

//   .nav-list--user & {
//     padding: 12px;
//     flex-shrink: 0;
//   }
// }

