.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &--user {
    flex-direction: row;
    gap: 20px;
    visibility: visible;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    visibility: visible;
    opacity: 1;
    flex-flow: row wrap;
  }

  @media (min-width: $desktop-width) {
    // background-color: transparent;
  }
}

.nav-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 font-size: 12px;
 font-weight: 500;
 line-height: 1.33;
 letter-spacing: 0.24px;
 text-transform: uppercase;

  .nav-list--user & {
      color: $color-night-rider;
  }
}

.nav-list__link {
  display: block;
  padding: 32px 20px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  transition: background-color 0.5s, color 0.3s;
  border-bottom: 1px solid $color-magnolia;

  &:hover {
    color: $color-slate-blue;
  }

  &:focus {
    color: $color-slate-blue;
  }

  &:active {
    color: $color-slate-blue;
    background-color: $color-magnolia;
  }

  .nav-list--user & {
    padding: 22px;
  }

  &--current {
    border-bottom: 2px solid $color-slate-blue;
  }

  @media(min-width: $tablet-width) {
    width: unset;
    border-bottom: unset;
    &--current {
      border-bottom: 2px solid $color-slate-blue;
    }
  }





}


//   .main-header--nojs & {
//     position: relative;
//   }

//   .nav-list--user & {
//     padding: 12px;
//     flex-shrink: 0;
//   }
// }
