.slider {
  position: relative;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.slider__item {
   min-width: 100%;

  &--pink {
    background-color: $color-bridal-heath;
  }

  &--lavander {
    background-color: $color-lavender;
  }

  &--grey {
    background-color: $color-solitude;
  }
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  color: $color-slate-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-image 0.3s;

  &:hover {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $color-white 100%);
  }
  &:focus {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $color-white 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0.00) 100%);
  }

  &--next{
    right: 0;
    left: unset;

    &:hover {
      background-image: linear-gradient(90deg, $color-white 0%, rgba(255, 255, 255, 0) 100%);
  }
  &:focus {
    background-image: linear-gradient(90deg, $color-white 0%, rgba(255, 255, 255, 0) 100%);
  }
  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.00) 0%, rgba(120, 89, 207, 0.25) 100%);
  }
}
}

.slider__button:disabled {
  color: $color-silver;
  pointer-events: none;
}

.slider__button svg {
  display: block;
}

.slider__button--prev svg {
  transform: rotate(180deg);
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
